build
cmake
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/*.ninja
/*.ninja_deps
/*.ninja_log
/.ninja_deps
/.ninja_log

.vscode/
.vs/
/*.VC.db
/*.VC.VC.opendb
/*.VC.db-shm
/*.VC.db-wal
/*.user
*.suo
*.sln
*.vcxproj*
*.opensdf
ipch/
*.ipdb
*.iobj
*.pdb
*.obj

*.exe
*.dll
*.lib
*.out
*.app
*.so
*.dylib

*.ilk
*.log
*.idb
*.tlog
*.lastbuildstate
*.obj
*.pch
*.o

.DS_Store
Thumbs.db

*.tmp
*.cache
*.log
*.swp
*.lock

/cmake/CPM_cache/
/_deps/

.idea/
*.code-workspace

/Testing/
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
